body{
    display: flex;
    height: 100vh;
    margin: 10%;
}
    .contenedor {
        max-width: 1400px;
        margin: auto;
        display: flex;
        flex-wrap: wrap; /*para que se pueda poner abajo de otro*/
        justify-content: center;
    }
    
    .form {
        width: 280px;
        height: 340px;
        background-color: #fff;
        margin-left: 60px;
        border-radius: 5px;
        box-shadow: 10px 15px 5px 0px #d7a7eb;
        text-align: center;
        margin-bottom: 60px; 
    }
    
    .form img {
        width: 220px;
        height: 180px;
        margin-top: 10px;
        animation: ease-in animacion 2s;
    }
    
    .form h1 {
        text-transform: uppercase;
        font-size: 22px;
        margin-top: 10px;
    }
    
    .form p {
        margin-top: 10px;
    }
    
    .form button {
        margin-top: 10px;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #d7a7eb;
        color: rgb(255, 255, 255);
        border: none;
        cursor: pointer;
        text-transform: uppercase;
    }
    .form>button:hover{
        box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
        background: #e91fd8;
        transition: .5s;
    }
    
    @keyframes animacion{
        0%{
            transform: scale(0);
        }
        100%{
            transform: scale(1);
    
        }
    }
    